
// 1. Colors
//-------------------------------------------------
// Background
$background-color: #1e1d2c !default;
$background-color-secondary: #313044 !default;

// Text
$color-text: #ffffff !default;
$color-text-secondary: #8d8ca4 !default;
$color-text-primary: #ea6a7c !default;

//Border
$border-color: #77759d !default;

